.article {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    margin-bottom: 16px;
  }

  hr {
    background-color: var(--secondary);
    height: 2px;
    width: 90%;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
  }

  p  img {
    margin-bottom: 16px;
  }
}

.article-inactive {
  animation: article-none 300ms linear forwards;
}

@keyframes article-none {
  99% {
    display: flex;
  }
  100% {
    display: none;
  }
}