.article {
  width: 100%;
  max-width: 532px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    margin-bottom: 16px;
  }

  hr {
    background-color: var(--secondary);
    height: 2px;
    width: 90%;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
  }

  p  img {
    margin-bottom: 16px;
  }
}

.article-inactive {
  display: none;
}