.main {
  width: 100%;
  height: 100vh;
  padding-bottom: 16px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-inactive {
    animation: main-none 400ms linear forwards;
    transform: translateX(-100%);
  }
}
@media (min-width: 769px) {
  .main-inactive {
    width: 55%;
  }
}

@keyframes main-none {
  0% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
  }
}