.back-button {
  border: none;
  position: fixed;
  z-index: 1;
  border-radius: 0 0 8px 0;
  background-color: var(--primary);
  padding: 12px;
  box-shadow: 0 0 8px -2px var(--secondary);
  
  svg {
    display: block;
    width: 20px;
    height: 20px;

    g {
      fill: var(--secondary);
    }
  } 
  
}

@media (min-width: 426px) {
  .back-button {
    border-radius: 0 0 8px 8px;
  }
}