.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.degraded {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 17, 26, .5);
  z-index: -1;
}
.header-title {
  position: absolute;
  margin: auto 0;
  color: rgb(238, 230, 230);
}
.header--image {
  width: 100%;
  height: auto;
  z-index: -1;
}
.header-hr {
  background-color: var(--secondary);
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 80%;
  border: none;
  border-radius: 4px;
  transform: translateY(1px);
}