.linkContainer {
  border-radius: 8px;
  border: 1px solid var(--secondary);
  padding: 16px 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    margin-top: 8px;
    padding: 4px 8px;
    width: 75%;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary);
    color: var(--primary);
    
    span {
      font-weight: 700;
    }
  }
}