.chapterContainer {
  width: 100%;
  max-width: 532px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1024px) {
  .chapterContainer {
    max-width: 644px;
  }
}