.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-inactive {
  animation: reduce-sidebar 400ms linear forwards;
  transform: translateX(100%);
}

.back-button-container {
  width: 100%;
  height: 46px;
  margin-bottom: 16px;
  max-width: 532px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 769px) {
  .sidebar {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .back-button-container {
    max-width: 644px;
  }
}

@keyframes reduce-sidebar {
  0% {
    opacity: 100%;
  }
  99% {
    width: 100%;
  }
  100% {
    width: 0%;
    opacity: 0%;
  }
}